*{
  margin: 0;
  padding: 0;
  font-family: "Open Sans",sans-serif;
  text-decoration: none;
  list-style: none;
}

body{
  min-height: 100vh;
  background-image: linear-gradient(125deg,#34495e,#2ecc71);
}

.container{
  max-width: 1000px;
  width: 50%;
  margin: auto;

  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
}

.pricing-table{
  background: #f1f1f1;
  flex: 1;
  margin: 10px;
  text-transform: none;
}

.pricing-header{
  color: #fff;
  position: relative;
  margin-bottom: 20px;
}

.price{
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

.price span{
  font-size: 30px;
}

.title{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,50%);
  width: 80%;
  max-width: 360px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
}

.pricing-list{
  padding: 10px 20px;
}

.pricing-list li{
  margin: 8px 0;
  font-size: 14px;
  color: #344;
  text-align: center;
}

.border{
  width: 80px;
  height: 1px;
  background: #ddd;
  margin: auto;
}

.pricing-table a{
  display: block;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
  padding: 8px 0;
  font-size: 14px;
  border: 1px solid;
  max-width: 360px;
  transition: .2s linear;
}
.pricing-table a:hover{
  border-radius: 30px;
  transition: ease 900ms;
  transform: scale(1.4);
  }
.table1 .pricing-header{
  background: #2c3e50;
}

.table1 .title{
  background-image: linear-gradient(125deg,#34495e,#95a5a6);
}


.table1 a{
  color: #2c3e50;
}


.table1 a:hover{
  background: #2c3e50;
  color: #fff;
}

/* icono */
.profile-photo{
  padding: 5px;

}
.profile-photo-container{
  height: 100%;
  width: 100%;

}

@media screen and (max-width:780px) {
  .pricing-table{
    flex: 100%;
  }
}
